
@{
    ViewBag.Title = "Cosmos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h2>Cosmos</h2>
<div>
    <table border="0">
        <tr>
            <th>Siglo</th>
            <td>
                <input id="txtsiglo" type="text" placeholder="Ingrese Siglo" />

            </td>
        </tr>
        <tr>
            <th>Constelacion</th>
            <td>
                <input id="txtnombre" type="text" placeholder="Ingrese Nombre constelacion" />

            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input id="btnsave" type="button" value="Grabar" class="button-success" />
                <input id="btnlist" type="button" value="Listar" class="button-success" />
            </td>

        </tr>
    </table>

    <div id="resultado">

    </div>
</div>
    @section scripts{
        <script>
            var constelaciones = new Array();

            function Constelacion() {
                this.setsiglo = function (value) { this._siglo = value; }
                this.getsiglo = function () { return this._siglo; }

                this.setnombre = function (value) { this._nombre = value; }
                this.getnombre = function () { return this._nombre; }
            }


            $("#btnsave").click(function () {
                var con = new Constelacion();
                con.setsiglo($("#txtsiglo").val());
                con.setnombre($("#txtnombre").val());
                constelaciones.push(con);

            })

            $("#btnlist").click(function () {

                var ctl = $("#resultado");
                ctl.html("");
                $.each(constelaciones, function (i, e) {
                    ctl.append("Siglo " + e.getsiglo() + " - " + e.getnombre() + ".</br>");
                });


            })

        </script>
    }
